@charset "UTF-8";
/* siempre llamo primero a las utilidades */
/* deberían ir los bloques que corresponden a la carpeta bases */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*font-family: "Inter", sans-serif;
font-family: "Rubik Mono One", monospace;
  */
h2 {
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  text-transform: capitalize; }

h3 {
  color: #ffdf16;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; }

h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; }

p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400; }

/* todo lo correspondiente a layout */
header {
  background-color: black;
  width: 100%; }
  header nav {
    display: flex;
    align-items: center; }
    header nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      width: 100%; }
      header nav ul li a {
        text-decoration: none;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        text-transform: uppercase; }

.main-index section:first-child {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-image: url(../assets/img/background-principal.jpg);
  background-position: center;
  background-size: cover;
  height: 800px; }
  .main-index section:first-child h1 {
    color: #ffdf16;
    text-align: left;
    font-family: "Rubik Mono One";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    grid-column: 2/6;
    grid-row: 3 /4; }
  .main-index section:first-child h2 {
    grid-column: 2/5;
    grid-row: 4/5;
    margin-left: 1.25rem; }

.main-index section:nth-child(2) {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-index section:nth-child(2) h2 {
    margin-left: 10px;
    color: #ffdf16; }
  .main-index section:nth-child(2) div {
    display: flex; }
    .main-index section:nth-child(2) div article {
      display: flex;
      width: calc(100% / 3);
      gap: 0.625rem;
      margin: 10px; }
      .main-index section:nth-child(2) div article img {
        width: 21.875rem;
        height: 9.375rem;
        border-radius: 11px;
        max-width: fit-content; }

.main-index section:last-child {
  background-image: url(../assets/img/background-general.jpg); }
  .main-index section:last-child .cards-wrapper {
    display: flex; }

footer {
  background-color: #ffdf16;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  gap: 20px;
  padding: 20px; }
  footer div {
    display: flex;
    align-items: center; }
    footer div p {
      margin: 10px;
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 400; }

.main-nosotros {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../assets/img/background-general.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  grid-template-areas: "img1 p" "img2 p"; }
  .main-nosotros img {
    width: 43.125rem;
    height: 19.6875rem;
    margin: 30px 0px 20px 20px; }
    .main-nosotros img:first-child {
      grid-area: img1; }
    .main-nosotros img:last-child {
      grid-area: img2; }
  .main-nosotros p {
    margin: 30px 20px 20px 0px;
    line-height: 2.3rem;
    font-weight: 400;
    grid-area: p;
    text-transform: capitalize; }

.card {
  margin: 50px;
  width: calc(100% / 3);
  background-color: #000;
  color: yellow; }

.main-productos section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-image: url(../assets/img/background-general.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 0.625rem; }
  .main-productos section .grid-menu {
    display: flex;
    margin: 10px;
    gap: 10px; }
    .main-productos section .grid-menu img {
      width: 365px;
      height: 210px;
      box-shadow: -29px 25px 38px -13px rgba(0, 0, 0, 0.75); }
    .main-productos section .grid-menu div p {
      text-align: left; }

.main-sucursales {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/img/background-general.jpg);
  background-position: center;
  background-size: cover;
  height: 100%; }
  .main-sucursales .flex-sucursales {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 30% 30% 40%;
    margin: 1.25rem;
    gap: 1.5rem; }
    .main-sucursales .flex-sucursales iframe {
      width: 100%;
      border: 2px solid s #040404; }
    .main-sucursales .flex-sucursales div ul li {
      color: white;
      text-transform: capitalize;
      font-size: 24px;
      font-family: "Inter", sans-serif;
      font-weight: 400; }

.main-registro {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../assets/img/background-general.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  justify-content: center; }
  .main-registro form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: center; }
    .main-registro form h2 {
      text-transform: uppercase;
      color: #ffdf16;
      font-family: "Inter", sans-serif; }
    .main-registro form fieldset {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 50vh;
      margin: 10px;
      border: 3px solid #ffe0166c;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 20px; }
      .main-registro form fieldset input {
        width: 95%;
        height: 130px;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 700;
        background-color: transparent;
        color: white;
        border: none;
        border-bottom: 4px solid #ffdf16; }
      .main-registro form fieldset::placeholder {
        color: #ffdf16; }
    .main-registro form div {
      display: flex;
      width: 50%;
      justify-content: center; }
      .main-registro form div input {
        background-color: #ffdf16;
        color: black;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        width: 95%;
        height: 80px;
        text-decoration: none;
        border: none; }
        .main-registro form div input:hover {
          background-color: #000;
          color: #ffdf16; }

/* por ultimo los mediaquerys */
