footer {
	background-color: #ffdf16;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	align-items: center;
	gap: 20px;
	padding: 20px;
	div {
		display: flex;
		align-items: center;
		p {
			margin: 10px;
			color: #000;
			font-family: Inter;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
		}
	}
}
