.main-registro {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-image: url(../assets/img/background-general.jpg);
	background-position: center;
	background-size: cover;
	height: 90vh;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;
		align-items: center;
		h2 {
			text-transform: uppercase;
			color: #ffdf16;
			font-family: "Inter", sans-serif;
		}
		fieldset {
			display: flex;
			flex-direction: column;
			width: 50%;
			height: 50vh;
			margin: 10px;
			border: 3px solid #ffe0166c;
			border-radius: 10px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			padding: 20px;
			input {
				width: 95%;
				height: 130px;
				font-size: 24px;
				text-transform: capitalize;
				font-weight: 700;
				background-color: transparent;
				color: white;
				border: none;
				border-bottom: 4px solid #ffdf16;
			}
			&::placeholder {
				color: #ffdf16;
			}
		}
		// div {
		// 	display: flex;
		// 	width: 50%;
		// 	justify-content: center;
		// 	input {
		// 		background-color: #ffdf16;
		// 		color: black;
		// 		font-size: 24px;
		// 		font-weight: 700;
		// 		text-transform: uppercase;
		// 		width: 95%;
		// 		height: 80px;
		// 		text-decoration: none;
		// 		border: none;
		// 		&:hover {
		// 			background-color: #000;
		// 			color: #ffdf16;
		// 		}
		// 	}
		// }
		button {
			width: 50%;
			font-size: 18px;
			letter-spacing: 2px;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			font-weight: bold;
			padding: 0.7em 2em;
			background-color: $yellow;
			border: 3px solid $yellow;
			border-radius: 2px;
			position: relative;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
			color: #040404;
			text-decoration: none;
			transition: 0.3s ease all;
			z-index: 1;
		}

		button:before {
			transition: 0.5s all ease;
			position: absolute;
			top: 0;
			left: 50%;
			right: 50%;
			bottom: 0;
			opacity: 0;
			content: "";
			background-color: #000000;
			z-index: -1;
		}

		button:hover,
		button:focus {
			color: $yellow;
		}

		button:hover:before,
		button:focus:before {
			transition: 0.5s all ease;
			left: 0;
			right: 0;
			opacity: 1;
		}

		button:active {
			transform: scale(0.9);
		}
	}
}
