.main-nosotros {
	display: flex;
	justify-items: center;
	background-image: url(../assets/img/background-general.webp);
	background-position: center;
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	gap: 10px;
	.item-nosotros {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		gap: 10px;
		img {
			width: 95%;
			height: 420px;
			margin: 20px 0px 20px 20px;
			box-shadow: -29px 25px 38px -13px rgba(0, 0, 0, 0.75);
			border-radius: 3px;
		}
		p {
			margin: 20px 20px 20px 30px;
			line-height: 2.3rem;
			grid-area: p1;
			text-transform: capitalize;
		}
	}
}
