@media (max-width: 1024px) {
	.main-nosotros {
		display: flex;
		flex-direction: column;
		align-items: center;
		.item-nosotros {
			display: flex;
			flex-direction: column;
			width: 85%;
		}
	}

	.footer {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media (max-width: 1024px) {
	.section-productos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		height: fit-content;
		.grid-menu {
			display: flex;
			flex-direction: column;
			img {
				width: auto;
			}
		}
	}
}
