@media (max-width: 1440px) {
	.main-nosotros {
		grid-template-areas:
			"img1 img2"
			"p p";
		img {
			width: 90%;
			margin: 10px;
			padding-top: 10px;
			gap: 10px;

			p {
				margin: 30px;
				text-align: left;
			}
		}
	}
}

@media (max-width: 1440px) {
	.section-productos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: fit-content;
		.grid-menu {
			display: flex;
			flex-direction: column;
			img {
				width: auto;
			}
		}
	}
}
